---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Server Error">
    <main class="h-screen flex items-center justify-center">
        <div class="m-auto text-center">
            <h1 class="text-6xl font-bold">500</h1>
            <h2 class="text-2xl">Internal Server Error</h2>
            <div class="mt-8">
                <p>Sorry, something went wrong on our end.</p>
                <p>Please try again later.</p>
            </div>
        </div>
    </main>
</Layout>
