---
import "../styles/global.css";
const { title, description, keywords } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" href="/favicon.png" type="image/png" sizes="32x32" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        {title && <title>{title}</title>}
        {description && <meta name="description" content={description} />}
        {keywords && <meta name="keywords" content={keywords.join(",")} />}
    </head>
    <body class="bg-white dark:bg-[#0a0a0a] text-[#171717] dark:text-[#ededed]">
        <slot />
    </body>
</html>
