---
import { config } from "@fortawesome/fontawesome-svg-core";
import "@fortawesome/fontawesome-svg-core/styles.css";
import "../styles/global.css";

const { title, description, keywords } = Astro.props;
config.autoAddCss = false;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
        <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        {title ? <title>{title} | giodias</title> : <title>giodias</title>}
        {description && <meta name="description" content={description} />}
        {keywords && <meta name="keywords" content={keywords.join(",")} />}
    </head>
    <body class="bg-white dark:bg-[#0a0a0a] text-[#171717] dark:text-[#ededed]">
        <slot />
    </body>
</html>
