---
import BaseLayout from "./BaseLayout.astro";
const { title, description, keywords } = Astro.props;
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <main
        class="mx-auto mb-6 sm:mb-10 p-4 sm:p-8 w-full max-w-2xl xl:max-w-5xl"
    >
        <slot />
    </main>
</BaseLayout>
