---
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
    <main
        class="mx-auto mb-10 p-8 max-w-3xl sm:max-2-5xl md:max-w-7xl lg:max-w-9xl prose"
    >
        <slot />
    </main>
</BaseLayout>
