name: CD

on:
  push:
    branches: [main]
    paths: 
      - '.github/workflows/**'
      - 'public/**'
      - 'src/**'
      - 'astro.config.mjs'
      - 'package-lock.json'
      - 'package.json'
      - 'tsconfig.json'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      site_url: ${{ steps.setup_pages.outputs.base_url }}
      base_path: ${{ steps.setup_pages.outputs.base_path }}
    steps:
      - name: Setup Pages
        id: setup_pages
        uses: actions/configure-pages@v5
  build:
    name: Build
    needs: setup
    uses: ./.github/workflows/build.yml
    with:
      site_url: ${{ needs.setup.outputs.site_url }}
      base_path: ${{ needs.setup.outputs.base_path }}
      upload_artifact: true
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
